.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

rest-consumer/.gradle
rest-consumer/build/
rest-consumer/.idea/*.*


### IntelliJ IDEA ###
.idea/*.*
*.iws
*.iml
*.ipr
out/

